<h2>Edit the Event</h2>
{{!-- this should be the link from route.post --}}
<form action="/events/{{event.id}}/edit" method="post">
    <label for="title">Title: </label>
    <input type="text" value="{{event.title}}" name="title">

    <label for="date">Date: </label>
    <input type="text" value="{{event.date}}" name="date">

    <label for="capacity">Capacity: </label>
    <input type="text" value="{{event.capacity}}" name="capacity">

    {{#each locationList}}
      <option value="{{_id}}">{{name}}</option>
    {{/each}}

{{!--     {{#each participants}}
    <label for="participants">Participants: </label>
    <input type="text" value="{{event.participants.username}}" name="participants">
    {{/each}} --}}

    <label for="availableSlots">Available Slots: </label>
    <input type="text" value="{{event.availableSlots}}" name="availableSlots">


    {{!-- {{#each participants}}
    <input type="checkbox" id={{name}} name="cast" value={{_id}}>
    <label for={{name}}>{{name}}</label>
    {{/each}} --}}
   

    <button type="submit">Edit the event</button>
</form>