{{#with event}}
  <h2>Event Details</h2>
  <ul>
    <li>Title: {{title}}</li>
    <li>Date: {{date}}</li>
    <li>Capacity: {{capacity}}</li>
    <p>Participants:</p>
    {{#each participants}}
      <li> {{username}}</li>
    {{/each}}
  </ul>
  <p>Available slots:</p>
  <p>{{availableSlots}}</p>
  {{!-- <a href="/events/{{id}}/edit">Edit the event</a> --}}
  {{!-- <form action="/events/{{id}}"><button class="btn btn-primary">Join</button></form> --}}
{{/with}}

{{#if message}}
  <h3>{{message}}</h3>
{{/if}}