<h1>Events List</h1>

<ul>
  {{#each eventList}}
    <li>
      
      Name: {{this.title}}
      Date:  {{this.date}}
      Capacity: {{this.capacity}}
      Location:  {{location.name}}
      Creator:  {{creator.username}}
      <a href="/events/{{id}}">Join</a>
    </li>

  {{/each}}
</ul>

<a href="/events/new">Create an Event</a>