<div class="col-12 col-md-6 col-lg-6 col-xl-4 mt-2">
  <div
    class="card border-secondary shadow mb-5 rounded"
    style="width: 18rem;"
  >
    
    <div class="card-body">
      <h5 class="card-title">Name: {{events.title}}</h5>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Day: {{day}}</li>
      <li class="list-group-item">Hour: {{hour}}</li>
      <li class="list-group-item">Capacity: {{events.capacity}}</li>
      <li class="list-group-item">Location: {{events.location.name}}</li>
      <li class="list-group-item">Available Slots:
        {{events.availableSlots}}</li>
      <li class="list-group-item">Creator: {{events.creator.username}}</li>

    </ul>

    {{#if (isZero events.availableSlots)}}
      <p>There is no available slots :/</p>
    {{else}}
      <div class="card-body">
        <a
          class="btn btn-primary btn-large"
          href="/events/{{events.id}}"
        >See Event</a>
      </div>
    {{/if}}
  </div>
</div>